body {
  margin: 0;
  background-color: #4d4d4d; /*#292929;*/
  color: #fff;
  font-family: 'Roboto';
  height: 100%;
}

html,
#root {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

#messages-box * {
  overflow-anchor: none;
}

#messagesEnd {
  overflow-anchor: auto;
  height: 1px;
}

.minimized-post-toggler:hover {
  /* background: #ff96131c; */
  box-shadow: inset 0em 0em 0em 100em rgb(207 213 255 / 15%);
}

.countgg-logo {
  transition: all .2s ease-in-out;
}

.countgg-logo:hover {
  transform: scale(1.1);
}


.threadcard {
  transition: all .2s ease-in-out!important;
}

.threadcard:hover {
  transform: scale(1.1);
}

.littlescale {
  transition: all .2s ease-in-out!important;
}

.littlescale:hover {
  transform: scale(1.03);
}



.hidden {
  display: none!important;
}

.countDesktop:hover {
  border-right: 1px solid grey;
  box-shadow: inset 0em 0em 0em 100em rgb(207 213 255 / 15%);
}

.count:hover .countActionsDesktop {
  display: flex;
}

.highlighted {
  border: 1px solid gold!important;
  background: #ff96131c;
}

.card_pic {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.card_wavypurple {
  background: linear-gradient(135deg,#1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b) fixed;
  color: white;
}

.card_default {
  background: #FAF9F6;
}

.card_blaze_1 {
  background: linear-gradient(135deg, #bf0000, #cf0000, #df0000, #ef0000, #ff0000, #ef0000, #df0000, #cf0000, #bf0000) fixed;
}

.card_blaze_2 {
  background: #ff000080;
  transition: background 0.6s linear;
  text-shadow: 0px 0px 7px black;
}

.card_blaze_2:hover {
  background: #ff0000;
}

.card_radiant_1 {
  background: linear-gradient(135deg, #FFC107C0, #FFC107D0, #FFC107E0, #FFC107F0, #FFC107, #FFC107F0, #FFC107E0, #FFC107D0, #FFC107C0) fixed;
}

.card_radiant_2 {
  background: #FFC10780;
  transition: background 0.6s linear;
  /* text-shadow: 0px 0px 7px white; */
}

.card_radiant_2:hover {
  background: #FFC107;
}

.card_wave_1 {
  background: linear-gradient(135deg, #0099bf, #0099cf, #0099df, #0099ef, #0099ff, #0099ef, #0099df, #0099cf, #0099bf) fixed;
}

.card_wave_2 {
  background: #0099ff80;
  transition: background 0.6s linear;
}

.card_wave_2:hover {
  background: #0099ff;
}

.counter_card {
  border-radius : 10px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.card_glow:before, .card_glow:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
  background: linear-gradient(to right, #00F260, #0575E6, #00F260);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
  border-radius : 10px;
  border-radius: inherit;
	animation: steam 20s infinite alternate;
}


@keyframes steam {
	0% {
		background-position: 0 0; 
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.card_glow:after {
	filter: blur(5px);
}

.no_border_square {
  border-radius: 10px;
}

.no_border_circle {
  border-radius: 50%;
}

.border_square_blue {
  border-radius: 10px;
  border: solid #2196f3;
}

.border_circle_blue {
  border: solid #2196f3;
  border-radius: 50%;
}

/* .border_radiant_1 {
  border-radius: 10px;
  border: solid #FFC107;
} */

.border_radiant_circle {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px #FFC107;
  /* border: solid #FFC107; */
}

.border_radiant_square {
  box-shadow: 0px 0px 4px 3px #FFC107;
  /* transition: box-shadow 0.6s linear; */
  border-radius: 10px;
}

.border_blaze_square {
  box-shadow: 0px 0px 4px 3px #ff0000;
  border-radius: 10px;
}

.border_blaze_circle {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px #ff0000;
}

.border_wave_square {
  box-shadow: 0px 0px 4px 3px #0099ff;
  border-radius: 10px;
}

.border_wave_circle {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px #0099ff;
}

/* .border_radiant_1:hover {
  box-shadow: 0px 0px 0px 3px green;
} */

.card_pic_container {
  display: flex;
}

.title_yay {
  text-shadow: 0px 0px 7px currentColor;
}

.title_yay_magenta {
  text-shadow: 0px 0px 7px currentColor;
  color: magenta;
}

.award_container {
  padding: 10rem;
  width: fit-content;
  margin: 10rem;
  display: inline-block;
}

.counter_award {
  position: relative;
  margin: auto;
}

.slide-right {
  animation: 3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left {
  animation: 3s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.rainbow, .card_rainbow_dark { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

  .card_rainbow_light {
    background: linear-gradient(124deg, #ff240080, #e81d1d80, #e8b71d80, #e3e81d80, #1de84080, #1ddde880, #2b1de880, #dd00f380, #dd00f380);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  }

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.zoom-in {
  animation-name: zoom-in;
  transform-origin: top left;
  animation-duration: 50s;
}

@keyframes zoom-in {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.react-terminal-line {
  white-space: break-spaces!important;
}

.react-terminal {
  overflow-y: hidden!important;
}