body {
  margin: 0;
  background-color: #4d4d4d; /*#292929;*/
  color: #fff;
  font-family: 'Roboto';
  height: 100%;
}

html,
#root {
  height: 100%;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

#messages-box * {
  overflow-anchor: none;
}

#messagesEnd {
  overflow-anchor: auto;
  height: 1px;
}

.minimized-post-toggler:hover {
  /* background: #ff96131c; */
  box-shadow: inset 0em 0em 0em 100em rgb(207 213 255 / 15%);
}

.cgg-logo {
  transition: all .2s ease-in-out;
}

.cgg-logo:hover {
  transform: scale(1.1);
}

.displayOnHover {
  display: none;
}

.displayOnHover:hover {
  display: inherit;
}

.deleteCategoryIcon {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.MuiListItemButton-root:hover .deleteCategoryIcon {
  opacity: 1;
  visibility: visible;
}


.threadcard {
  transition: all .2s ease-in-out!important;
}

.threadcard:hover {
  transform: scale(1.1);
}

.littlescale {
  transition: all .2s ease-in-out!important;
}

.littlescale:hover {
  transform: scale(1.03);
}

.recharts-surface {
  overflow: visible!important;
}


.hidden {
  display: none!important;
}

.count {
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.count:hover {
  opacity: 1;
}

.countDesktop:hover {
  border-right: 1px solid grey;
  box-shadow: inset 0em 0em 0em 100em rgb(207 213 255 / 15%);
}

.redditPost:hover {
  box-shadow: inset 0em 0em 0em 100em rgb(207 213 255 / 15%);
}

.count:hover .countActionsDesktop {
  display: flex;
}

.highlighted {
  border: 1px solid gold!important;
  background: #ff96131c;
}

.card_pic {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.card_wavypurple {
  /* background: linear-gradient(135deg,#1f005c, #5b0060, #870160, #ac255e, #ca485c, #e16b5c, #f39060, #ffb56b) fixed; */
  /* background: linear-gradient(135deg, #ac255e, #ffb56b) fixed; */
  /* background: green; */
  /* background-image: url("https://i.imgur.com/m9Whb1K.png"); */
  background-image: url("https://i.imgur.com/eLTLUHG.png");
  background-size: cover;
  color: white;
}

/* .card_wavypurple {
  background: linear-gradient(45deg, #F48FB1, #FFC1E3, #FFE6F2, #FFC1E3, #F48FB1);
  position: relative;
}

.card_wavypurple:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/unicorn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_circle_blue {
  mask-image: url("./assets/unicorn.png");
  mask-size: cover;
}

.border_circle_blue:before {
  content: "";
  background-image: url("./assets/unicorn2.png");
  background-size: cover;
} */

/* .border_circle_blue:before {
  background-image: url("./assets/gamer.png");
  border-radius: 61% 39% 70% 30% / 30% 30% 70% 70%;
  border: 2px solid #d700fd; 
} */



/* .border_circle_blue {
  position: relative;
  border-radius: 50%;
  content: "🎉";
}

*/

  /*
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 40px; 
  text-align: center;
  line-height: 200px; 
  border: solid #2196f3;
  border-radius: 50%;
  pointer-events: none; */

  /* .border_circle_blue:after {
    content: "";
  background-image: url("./assets/gamer.png");
  background-size: cover;
  z-index: 3;
}  */

/* .border_circle_blue-parent {
  background-image: url('./assets/gamer.png');
  background-size: contain;
  background-repeat: no-repeat;
} */


/* .border_circle_blue:before {
  content: "🎉";
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
} */

.pfp-image::before {
  content: "";
  display: block;
  padding-top: 100%; /* Adjust the percentage to match the desired aspect ratio */
}

.border_rewarded {
  border-radius: 10px;
  box-shadow: 0 0 10px #FFC107, 0 0 20px #F44336, 0 0 30px #2196F3;
}

.card_rewarded {
  background: linear-gradient(to right, #ff0000, #00ff00, #0000ff);
  position: relative;
}

.card_rewarded:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/reward.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.card_blooming {
  background: linear-gradient(to right, #FF6B6B, #FF8883, #FEB2AA, #FAD0C9);
  position: relative;
}

.card_blooming:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/rose.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

/* .border_blooming {
  border-radius: 50% 0% ;
  border: 2px solid rgba(255, 0, 0, 0.5);
} */
.border_blooming {
  mask-image: url("./assets/blossom.png");
  mask-size: cover;
}

.card_music {
  background: linear-gradient(to right, #9C27B0, #673AB7);
  position: relative;
}

.card_music:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/music.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

/* .border_music {
  border-radius: 61% 39% 70% 30% / 30% 30% 70% 70%;
  border: 2px solid #d700fd;
} */

.border_music {
  mask-image: url("./assets/music_note.png");
  mask-size: cover;
}

.card_gamer {
  background: linear-gradient(to bottom right, #1D1D1D, #FF0000, #FF6600, #FFFF00);
  position: relative;
}

.card_gamer:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/gamer.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_gamer {
  mask-image: url("./assets/gamer.png");
  mask-size: cover;
}

.card_boom {
  background: linear-gradient(45deg, #FF5722, #FFEB3B, #FF5722);
  position: relative;
}

.card_boom:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/boom.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_boom {
  mask-image: url("./assets/boom.png");
  mask-size: cover;
}

.card_book {
  background: linear-gradient(45deg, #A59B8D, #BEB5A9, #D7CFC4, #F2E9E1);
  position: relative;
}

.card_book:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/book.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_book {
  mask-image: url("./assets/book2.png");
  mask-size: cover;
}

.border_book:before {
  content: "";
  background-image: url("./assets/book3.png");
  background-size: cover;
}

.card_globe {
  background: linear-gradient(135deg, #44A08D, #8ABE8C, #CDEB76, #60BB93, #1CA085);
  position: relative;
}

.card_globe:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/globe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_globe {
  mask-image: url("./assets/globe2.png");
  mask-size: cover;
}

.card_shield {
  background: linear-gradient(45deg, #C0C0C0, #838383, #000000, #838383, #C0C0C0);
  position: relative;
}

.card_shield:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/shield.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_shield {
  mask-image: url("./assets/shield.png");
  mask-size: cover;
}

.card_sapling {
  background: linear-gradient(135deg, #63B76C, #8AC483, #C4E49F, #FFF7B5, #FDEB88);
  position: relative;
}

.card_sapling:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/sapling.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_sapling {
  mask-image: url("./assets/sapling.png");
  mask-size: cover;
}

.card_sword {
  background: linear-gradient(45deg, #662D91, #6F4492, #985CB0, #B275CE, #D08EEC);
  position: relative;
}

.card_sword:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/sword.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_sword {
  mask-image: url("./assets/sword.png");
  mask-size: cover;
}

.card_dragon {
  background: linear-gradient(45deg, #FF4500, #FFA500, #FFD700, #FFA500, #FF4500);
  position: relative;
}

.card_dragon:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/dragon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_dragon {
  mask-image: url("./assets/dragon2.png");
  mask-size: cover;
}

.border_dragon:before {
  content: "";
  background-image: url("./assets/dragon3.png");
  background-size: cover;
}

.card_unicorn {
  background: linear-gradient(45deg, #F48FB1, #FFC1E3, #FFE6F2, #FFC1E3, #F48FB1);
  position: relative;
}

.card_unicorn:before {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  background-image: url("./assets/unicorn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.border_unicorn {
  mask-image: url("./assets/unicorn.png");
  mask-size: cover;
}

.border_unicorn:before {
  content: "";
  background-image: url("./assets/unicorn2.png");
  background-size: cover;
}


.card_default {
  background: #FAF9F6;
}

.card_blaze_1 {
  background: linear-gradient(135deg, #bf0000, #cf0000, #df0000, #ef0000, #ff0000, #ef0000, #df0000, #cf0000, #bf0000) fixed;
}

.card_blaze_2 {
  background: #ff000080;
  transition: background 0.6s linear;
  text-shadow: 0px 0px 7px black;
}

.card_blaze_2:hover {
  background: #ff0000;
}

.card_radiant_1 {
  background: linear-gradient(135deg, #FFC107C0, #FFC107D0, #FFC107E0, #FFC107F0, #FFC107, #FFC107F0, #FFC107E0, #FFC107D0, #FFC107C0) fixed;
}

.card_radiant_2 {
  background: #FFC10780;
  transition: background 0.6s linear;
  /* text-shadow: 0px 0px 7px white; */
}

.card_radiant_2:hover {
  background: #FFC107;
}

.card_wave_1 {
  background: linear-gradient(135deg, #0099bf, #0099cf, #0099df, #0099ef, #0099ff, #0099ef, #0099df, #0099cf, #0099bf) fixed;
}

.card_wave_2 {
  background: #0099ff80;
  transition: background 0.6s linear;
}

.card_wave_2:hover {
  background: #0099ff;
}

.counter_card {
  border-radius : 10px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.card_glow:before, .card_glow:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
  background: linear-gradient(to right, #00F260, #0575E6, #00F260);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
  border-radius : 10px;
  border-radius: inherit;
	animation: steam 20s infinite alternate;
}


@keyframes steam {
	0% {
		background-position: 0 0; 
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.card_glow:after {
	filter: blur(5px);
}

.border_no_border_square {
  border-radius: 10px;
}

.border_no_border_circle {
  border-radius: 50%;
}

.border_square_blue {
  border-radius: 10px;
  border: solid #2196f3;
}

.border_circle_blue {
  border: solid #2196f3;
  border-radius: 50%;
}

/* .border_radiant_1 {
  border-radius: 10px;
  border: solid #FFC107;
} */

.border_radiant_circle {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px #FFC107;
  /* border: solid #FFC107; */
}

.border_radiant_square {
  box-shadow: 0px 0px 4px 3px #FFC107;
  /* transition: box-shadow 0.6s linear; */
  border-radius: 10px;
}

.border_blaze_square {
  box-shadow: 0px 0px 4px 3px #ff0000;
  border-radius: 10px;
}

.border_blaze_circle {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px #ff0000;
}

.border_wave_square {
  box-shadow: 0px 0px 4px 3px #0099ff;
  border-radius: 10px;
}

.border_wave_circle {
  border-radius: 50%;
  box-shadow: 0px 0px 4px 3px #0099ff;
}

/* .border_radiant_1:hover {
  box-shadow: 0px 0px 0px 3px green;
} */

.card_pic_container {
  display: flex;
}

.title_yay {
  text-shadow: 0px 0px 7px currentColor;
}

.title_yay_magenta {
  text-shadow: 0px 0px 7px currentColor;
  color: magenta;
}

.award_container {
  padding: 10rem;
  width: fit-content;
  margin: 10rem;
  display: inline-block;
}

.counter_award {
  position: relative;
  margin: auto;
}

.slide-right {
  animation: 3s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-left {
  animation: 3s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.rainbow, .card_rainbow_dark { 
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

  .card_rainbow_light {
    background: linear-gradient(124deg, #ff240080, #e81d1d80, #e8b71d80, #e3e81d80, #1de84080, #1ddde880, #2b1de880, #dd00f380, #dd00f380);
background-size: 1800% 1800%;

-webkit-animation: rainbow 18s ease infinite;
-z-animation: rainbow 18s ease infinite;
-o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
  }

@-webkit-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}

.rainbow-border {
  position: relative;
  width: 200px;
  height: 200px;
}

.rainbow-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid transparent;
  background-clip: padding-box;
  animation: rainbowborder 5s infinite linear;
}

@keyframes rainbowborder {
  0% {
    border-image: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
    border-image-slice: 1;
  }
  100% {
    border-image: linear-gradient(45deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
    border-image-slice: 8;
    transform: rotate(360deg);
  }
}

.zoom-in {
  animation-name: zoom-in;
  transform-origin: top left;
  animation-duration: 50s;
}

@keyframes zoom-in {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

.react-terminal-line {
  white-space: break-spaces!important;
}

.react-terminal {
  overflow-y: hidden!important;
}

.count > * img {
  max-width: 100%;
}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.25!important;
}

:root {
  --dur: 0.3s;
  --dur2: 0.15s;
}

.lever-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3em auto 0 auto;
  width: 23em;
}
.lever-form label {
  background-color: #f00;
  background-image:
    radial-gradient(0.3em 0.25em at 50% 25%, rgb(255,255,255) 25%, rgba(255,255,255,0)),
    radial-gradient(0.25em 0.25em at 30% 75%, rgba(255,255,255,0.5), rgba(255,255,255,0)),
    radial-gradient(0.3em 0.3em at 60% 80%, rgba(255,255,255,0.5), rgba(255,255,255,0)),
    radial-gradient(100% 100%, rgba(255,255,255,0) 30%, rgba(255,255,255,0.3) 40%, rgba(0,0,0,0.5) 50%);
  border-radius: 50%;
  box-shadow: 0 0 0.75em #f00, 0 0.5em 0.75em rgba(0,0,0,0.3);
  display: inline-block;
  transition: all var(--dur2) var(--dur2) linear;
  width: 1.5em;
  height: 1.5em;
}
.lever-form label:first-of-type {
  background-color: #050;
  box-shadow: 0 0.5em 0.75em rgba(0,0,0,0.3);
  order: -1;
}
.lever-form label span {
  display: inline-block;
  overflow: hidden;
  width: 0;
}
/* Lever */
.lever {
  background-image:
    radial-gradient(1em 1.5em at 50% 50%, rgb(204,204,204) 25%, rgb(170,170,170) 49%, rgba(170,170,170,0) 50%),
    radial-gradient(0.65em 1em at 50% 53%, rgb(68,68,68), rgba(68,68,68,0)),
    radial-gradient(0.75em 0.75em at 55% 45%, rgb(255,255,255), rgba(255,255,255,0)),
    radial-gradient(0.5em 0.4em at 43% 56%, rgba(255,255,255,0.5), rgba(255,255,255,0)),
    radial-gradient(0.5em 0.4em at 55% 57%, rgba(255,255,255,0.6), rgba(255,255,255,0)),
    radial-gradient(0.5em 0.4em at 50% 60%, rgba(255,255,255,0.6), rgba(255,255,255,0)),
    radial-gradient(100% 100% at 50% 50%, rgb(238,238,238), rgb(170,170,170) 10%, rgb(0,0,0) 18%, rgb(0,0,0) 21%, rgb(153,153,153) 21.5%, rgb(153,153,153) 24%, rgba(153,153,153,0) 24.5%, rgba(221,221,221,0) 30%, rgb(221,221,221) 30.5%, rgb(221,221,221) 33%, rgb(68,68,68) 33.5%, rgb(68,68,68) 35%, rgba(68,68,68,0) 35.5%, rgba(221,221,221,0) 41%, rgb(221,221,221) 41.5%, rgb(238,238,238) 45%, rgb(68,68,85) 45.5%, rgb(68,68,85) 49%, rgba(68,68,85,0) 50%),
    radial-gradient(2em 2em at 35% 20%, rgb(255,255,255), rgba(255,255,255,0) 2em),
    radial-gradient(2em 2em at 65% 80%, rgb(255,255,255), rgba(255,255,255,0) 2em),
    radial-gradient(2em 2em at 80% 35%, rgb(255,255,255), rgba(255,255,255,0) 2em),
    radial-gradient(2em 2em at 20% 65%, rgb(255,255,255), rgba(255,255,255,0) 2em),
    radial-gradient(100% 100% at center, rgb(170,170,170) 49%, rgba(170,170,170,0) 50%);
  background-position: 0.5em 0, 0.5em 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  border-radius: 50%;
  box-shadow: 0 2em 2em rgba(0,0,0,0.3);
  cursor: pointer;
  font-size: 1em;
  display: block;
  outline: 0;
  position: relative;
  width: 12em;
  height: 12em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background-position var(--dur) linear;
}
.lever:before, .lever:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}
.lever:before {
  animation: leverAOff var(--dur) linear forwards;
  background:
    radial-gradient(35% 25% at 50% 25%, rgb(136,136,153) 20%, rgba(136,136,153,0)),
    radial-gradient(1em 0.75em at 32% 75%, rgb(102,102,102), rgba(102,102,102,0)),
    radial-gradient(1em 0.75em at 65% 78%, rgb(102,102,102), rgba(102,102,102,0)),
    radial-gradient(100% 100% at center, rgb(68,68,68) 49.5%, rgba(68,68,68,0) 50%);
  box-shadow:
    -2em 4em 2em rgba(0,0,0,0.3),
    -2em 5em 4em rgba(0,0,0,0.2),
    -2em 7em 4em rgba(0,0,0,0.2),
    -2em 9em 4em rgba(0,0,0,0.2),
    -2em 11em 4em rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  transform: translate(100%,-50%);
  z-index: 1;
}
.lever:checked {
  background-position: -0.5em 0, -0.5em 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
}
.lever:checked:before {
  animation: leverAOn var(--dur) linear forwards;
}
.lever:after {
  animation: leverBOff var(--dur) linear forwards;
  background-color: #333;
  border-radius: 15em;
  box-shadow: 0 0 1em #667 inset;
  width: 7.5em;
  height: 4em;
  transform: translate(0.5em,-50%);
}
.lever:checked:after {
  animation: leverBOn var(--dur) linear forwards;
}
.lever:checked + label {
  background-color: #0d0;
  box-shadow: 0 0 0.75em #0f0, 0 0.5em 0.75em rgba(0,0,0,0.3);
}
.lever:checked + label + label {
  background-color: #500;
  box-shadow: 0 0.5em 0.75em rgba(0,0,0,0.3);
}
/* To stop animations from running on load */
.pristine:before, .pristine:after {
  animation: none;
}

@keyframes leverAOn {
  from {
    box-shadow:
      -2em 4em 2em rgba(0,0,0,0.3),
      -2em 5em 4em rgba(0,0,0,0.2),
      -2em 7em 4em rgba(0,0,0,0.2),
      -2em 9em 4em rgba(0,0,0,0.2),
      -2em 11em 4em rgba(0,0,0,0.2);
    transform: translate(100%,-50%);
  }
  50% {
    box-shadow:
      0 6em 2em rgba(0,0,0,0.3),
      0 5em 4em rgba(0,0,0,0.2),
      0 7em 4em rgba(0,0,0,0.2),
      0 9em 4em rgba(0,0,0,0.2),
      0 11em 4em rgba(0,0,0,0.2);
  }
  to {
    box-shadow:
      2em 4em 2em rgba(0,0,0,0.3),
      2em 5em 4em rgba(0,0,0,0.2),
      2em 7em 4em rgba(0,0,0,0.2),
      2em 9em 4em rgba(0,0,0,0.2),
      2em 11em 4em rgba(0,0,0,0.2);
    transform: translate(-200%,-50%);
  }
}
@keyframes leverAOff {
  from {
    box-shadow:
      2em 4em 2em rgba(0,0,0,0.3),
      2em 5em 4em rgba(0,0,0,0.2),
      2em 7em 4em rgba(0,0,0,0.2),
      2em 9em 4em rgba(0,0,0,0.2),
      2em 11em 4em rgba(0,0,0,0.2);
    transform: translate(-200%,-50%);
  }
  50% {
    box-shadow:
      0 6em 2em rgba(0,0,0,0.3),
      0 5em 4em rgba(0,0,0,0.2),
      0 7em 4em rgba(0,0,0,0.2),
      0 9em 4em rgba(0,0,0,0.2),
      0 11em 4em rgba(0,0,0,0.2);
  }
  to {
    box-shadow:
      -2em 4em 2em rgba(0,0,0,0.3),
      -2em 5em 4em rgba(0,0,0,0.2),
      -2em 7em 4em rgba(0,0,0,0.2),
      -2em 9em 4em rgba(0,0,0,0.2),
      -2em 11em 4em rgba(0,0,0,0.2);
    transform: translate(100%,-50%);
  }
}
@keyframes leverBOn {
  from { width: 7.5em; transform: translate(0.5em,-50%); }
  50% { width: 4em; transform: translate(-50%,-50%); }
  to { width: 7.5em; transform: translate(-8em,-50%); }
}
@keyframes leverBOff {
  from { width: 7.5em; transform: translate(-8em,-50%); }
  50% { width: 4em; transform: translate(-50%,-50%); }
  to { width: 7.5em; transform: translate(0.5em,-50%); }
}

.rainbow-text {
  background: linear-gradient(
    90deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #8b00ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
